body {
    background: #eee;
    font-family: sans-serif;
}

.card {
    width: 850px;
    background: #fff;
    margin: 16px auto;
    padding: 1px;
}

.title {
    background: #e3f4ff;
}

.content {
    background: #e3f4ff;
}

.button-container {
    background: #e3f4ff;
    text-align: center;
}

button {
    background: white;
    border: 1px solid #eee;
    display: block;
    padding: 10px 40px;
    margin: auto;
    font-size: 40px;
}

.title,
.button-container,
.content {
    margin: 20px;
    font-size: 32px;
    padding: 20px;
}
